/*
reset
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
root
*/
:root{
    --color-1: #0084FD;
    --color-2: #B5DDFF;
    --color-3: #9792E4;
    --color-4: #333333;
    --color-5: #fff;
}

.color-1{
    color: var(--color-1);
}

/*----------------------------*/

body{
    font-family: 'Open Sans', sans-serif;
}

/*------------------------------*/

/*
header
*/

header{
    padding: 20px 10px;
    background-color: var(--color-1);
    color: var(--color-5);
}

header i{
    font-size: 30px;
    visibility: visible;
}

header nav{
    display: none;
}

/* desktop */
@media screen and (min-width: 992px){
    header i{
        visibility: collapse;
    }

    header nav{
        display: block;
    }

    header ul{
        gap: 30px;
    }
}

/*
main
*/

#informazioni .box{
    background-color: var(--color-2);
}

#informazioni .container .box-container:first-child .box{
    padding-bottom: 0;
}

@media screen and (min-width: 768px){
    #informazioni .container .box-container:first-child{
        width: calc( (100% / 3) * 2);
    }

}

/*
footer
*/